@page
@model BookOfRecipes.Pages.Details.RecipeDetailsModel

@{
    ViewData["Title"] = "RecipeDetails";
}

<h1>RecipeDetails</h1>

<div>
    @*@foreach(var recipe in Model.AllRecipes)
    {
        <h4>@recipe.NameOfRecipe</h4>

        @foreach (var ingredient in recipe.Ingredients)
        {
            <h4>@ingredient.NameOfIngredient</h4>
        }
    }*@

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.NameOfRecipe)
        </dt>
        <dd class="col-sm-10">
            @foreach(var ingredient in Model.Recipe.Ingredients)
            {
             <p>@ingredient.NameOfIngredient</p>   
            }
        </dd>
    </dl>

    
</div>
