@page
@model BookOfRecipes.Pages.NewRecipe.AddNewRecipeModel
@{
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/tinymce/tinymce.min.js"></script>
<script src="~/js/textarea.js"></script>

<h3 align="center" style="color:darkred">@Html.ValidationMessage("DuplicateRecipe")</h3>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="isMetricCheckbox" >
    <label id="flexSwitchCheckChecked" class="form-check-label" for="isMetricCheckbox">Metrické jednotky</label>
</div>


<form method="post" id="myForm">

    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <label for="recipeName">Name of the recipe</label>
    <input type="text" name="Recipe.NameOfRecipe" asp-for="Recipe.NameOfRecipe" />
    <span asp-validation-for="Recipe.NameOfRecipe" class="text-danger"></span>
        
        @*<span asp-validation-for="Recipe.NameOfRecipe" class="text-danger"></span>*@
    <label for="authorName">Author</label>
    <input type="text" name="Recipe.Author" asp-for="Recipe.Author" />
    <span asp-validation-for="Recipe.Author" class="text-danger"></span>
    
        @*<span asp-validation-for="Recipe.Author" class="text-danger"></span>*@
    <label for="directions">Directions</label>
    <textarea id="default" asp-for="Recipe.Directions"></textarea>
    <span asp-validation-for="Recipe.Directions" class="text-danger"></span>
    <h4>Ingredience</h4>
    <br>

    <input value="1" type="hidden" disabled="disabled" id="index" />
    <div id="rowContainer">
        <div id="newRow[0]">
            <select id="ingredientsIDs[0]" name="ingredientIDQuantity[0].Key" asp-items="Model.Options"></select>
            <input type="number" name="ingredientIDQuantity[0].Value" />
            <span asp-validation-for="ingredientIDQuantity" class="text-danger"></span>
            <select asp-items="Model.UnitOptions" id="unitSelect[0]" class="unitSelect" name="unitSelect[0]">
                <option>Jednotka</option>
            </select>
            <span asp-validation-for="unitSelect" class="text-danger"></span>
            <button type="button" id="removeBtn[0]" onclick="RemoveRow(this)">Odebrat ingredienci</button>
        </div>
    </div>

    <button type="button" id="addRow" onclick="Add()">Přidat ingredienci</button>
    <input type="submit" value="Uložit">        
</form>


@section Scripts {
    
    <script>
        function Add() {
            let index = document.getElementById("index");
            let div = document.getElementById("rowContainer")

            let newDiv = document.createElement("div")
            newDiv.id = "newRow[" + index.value + "]"
            
            let newSelect = document.createElement("select")
            newSelect.name = "ingredientIDQuantity[" + index.value + "].Key"

            let newInput = document.createElement("input")
            newInput.name = "ingredientIDQuantity[" + index.value + "].Value"

            let newRemoveBtn = document.createElement("button");
            newRemoveBtn.textContent = "Odebrat ingredienci";
            newRemoveBtn.id = "removeBtn[" + index.value + "]";
            newRemoveBtn.setAttribute('onclick', 'RemoveRow(this)');

            let newUnitSelect = document.createElement('select')
            newUnitSelect.name = "unitSelect[" + index.value + "]"
            newUnitSelect.className = "unitSelect"

            

            var sourceDropdown = document.getElementById("ingredientsIDs[0]")

            for (var i = 0; i < sourceDropdown.options.length; i++) {
                var option = sourceDropdown.options[i];
                var newOption = document.createElement('option');
                newOption.value = option.value;
                newOption.text = option.text;
                newSelect.appendChild(newOption)
            }

            var sourceDropdown2 = document.getElementById("unitSelect[0]")

            for (var i = 0; i < sourceDropdown2.options.length; i++) {
                var option = sourceDropdown2.options[i];
                var newOption = document.createElement('option');
                newOption.value = option.value;
                newOption.text = option.text;
                newUnitSelect.appendChild(newOption)
            }

            div.appendChild(newDiv);
            newDiv.appendChild(newSelect);
            newDiv.appendChild(newInput);
            newDiv.appendChild(newUnitSelect);
            newDiv.appendChild(newRemoveBtn);
            index.value++;
        }

        function RemoveRow(button){
            button.parentElement.remove();
        }

    </script>

    <script>
        $('#isMetricCheckbox').change(function (){
            var isMetric = $(this).is(':checked');
            console.log(isMetric);
            console.log(typeof isMetric);
            $('.unitSelect').html('<option>Jednotka</option>');
            console.log("Here I am");
            $.getJSON('/newrecipe/addnewrecipe?handler=Unit', { isMetric: isMetric }, function (data) {
                console.log(data);
                $.each(data, function(key, value) {
                    var option = $('<option></option>').attr('value', value.id).text(value.unit);
                    $('.unitSelect').append(option);
                });
            });
        });

    </script>

    <script>
            $('#isMetricCheckbox').change(function () {
                var isChecked = $(this).prop('checked');
                var label = isChecked ? 'Imperialni jednotky' : 'Metrické jednotky';
                $('#flexSwitchCheckChecked').text(label);
            });
    </script>
}